form{
	display: none;
}

.menu > li{
	/* display: inline-block;
	float: left; */
	position: relative;
}

.menu a{
	display: inline-block;
	padding: 5px 15px;
	white-space: nowrap;
}

.menu li > ul{
	display: none;
	position: absolute;
	top: 100%;
	background: rgba(55, 127, 26, 0.5);
	list-style: none;
	padding-left: 0;
}